.list-products .swiper-button-prev,
.list-products .swiper-button-next {
    position: absolute;
    z-index: 9999 !important;
    color: black;
    background-color: #fff;
    top: 22px;
    width: 100px;
    height: 300px;
    display: flex;
    align-items: center;

}

.list-products .swiper-button-prev {
    left: -114px;
    justify-content: flex-end;
    padding-right: 6px;
}

.list-products .swiper-button-next {
    right: -114px;
    justify-content: flex-start;
    padding-left: 6px;
}

.list-products .swiper {
    position: relative;
    overflow: visible;
}

.list-products .swiper-button-disabled {
    opacity: 1 !important;
}